<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<script src="https://unpkg.com/vue"></script>
<body>
	<div id="app">
	  	<p>{{ message }}</p>
	  	<my-component></my-component>
	</div>
</body>
<script type="text/javascript">


Vue.component('my-component',{
	name:'my-component',
    //template:"<template v-for='item in list_add'><tr><td  class='tg-s6z2' rowspan='2' colspan='3'>审批人（加签）</td><td class='tg-s6z2' colspan='3'>部门</td><td class='tg-s6z2' colspan='6'>{{item.domain}}</td><td class='tg-s6z2' colspan='3'>姓名</td><td class='tg-s6z2' colspan='6'>{{item.name}}</td><td class='tg-s6z2' colspan='3'>日期</td><td class='tg-s6z2' colspan='6'>{{item.add_time}}</td></tr><tr><td class='tg-031e' colspan='27'><i>加签意见：</i><span>{{item.add_advice}}</span></td></tr></template>"
    template: '<div><div v-for="item in list_add">{{item.name}}</div></div>',
    data(){
        return {
            list_add:[]
        }
    },
    created(){
        this.arrData();
    },
    methods:{
        arrData(){
            var ctx=this;
            this.list_add = [{name:1},{name:2}]
            /*axios.post('get-date')
                .then(function(res){
                    console.log(res);
                    ctx.list_add=res.data.msg.list1;
                    console.log(ctx.list_add);
                })
                .catch(function(err){
                    console.log(err);
                })*/
        }
    }

});
new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue.js!'
  }
})

</script>
</html>